body {
  background-color: #29d04b;
  background-image: url('city.png'); 
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #8070d0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, footer {
    text-align: center;
    margin: 20px 0;
}
nav a {
    color: #FFFF00;
    text-decoration: none;
    padding: 0 10px;
}
#content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}